.achievement {
  &__title {
    margin-top: 0;
    margin-bottom: 5px;
    color: $white;
    @include h2;
  }

  &__description {
    max-width: 200px;
    margin-top: 0;
    margin-bottom: 0;
    color: $white;
    @include txt-smll-rglr;

    @media(min-width: 1200px){
      max-width: none;
    }
  }
}
