.achievements {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;

  &__item {
    position: relative;
    padding-left: 104px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0px;
      width: 80px;
      height: 80px;
      background-color: #262641;
      border-radius: 50%;
    }

    &--30B {
      &::before {
        content: url(../img/icons/icon-bar.svg);
      }
    }

    &--10M {
      &::before {
        content: url(../img/icons/icon-person.svg);
      }
    }

    &--195 {
      &::before {
        content: url(../img/icons/icon-earth.svg);
      }
    }
  }
}
