.calc {

  &__input-rate {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    color: $primary-color;
    border: none;
    border-bottom: 1px solid $grey-3;
    @include txt-l-rglr;

    @media(min-width: 1024px){
      width: 400px;
    }

    @media(min-width: 1200px){
      text-align: left;
    }

    &::placeholder {
      color: $primary-color;
      @include txt-l-rglr;
    }
  }

  &__input-ths {
    width: 200px;
    margin: 0;
    padding: 0px;
    text-align: center;
    color: $primary-color;
    border: none;
    border-bottom: 1px solid $grey-3;
    @include txt-l-rglr;

    @media(min-width: 1200px){
      text-align: left;
    }

    &::placeholder {
      color: $primary-color;
      @include txt-l-rglr;
    }
  }

  &__button {
    padding: 16px 32px;
    color: $white;
    text-decoration: none;
    background-color: $accent-color;
    border: none;
    border-radius: 50px;
    @include txt-stnd-mdm;

    &:hover {
      background-color: #598EFB;
    }

    &:active {
      color: $grey-3;
      background-color: #1F5BD4;
    }
  }
}
