.cryptocurrencies {
  margin-top: 100px;
  margin-bottom: 50px;


  @media(min-width: 1200px) {
    margin-top: 450px;
  }

  &__title {
    max-width: 750px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    text-align: center;
    color: $primary-color;
    @include h2;
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 1500px;
    margin-top: 65px;
    padding-left: 0;
    list-style: none;

    @media(min-width: 1200px){
      flex-direction: row;
      height: auto;
    }
  }
}
