.discount {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 365px;
  border-radius: 50px;

  @media(min-width: 768px){
    flex-direction: row;
    background-color: #252540;
  }

  &__price {
    padding: 5px 15px;
    color: $primary-color;
    background-color: $white;
    border-radius: 30px;
    @include txt-smll-mdm;
  }

  &__text {
    margin: 0;
    margin-top: 15px;
    margin-left: 15px;
    padding-bottom: 15px;
    color: $white;
  }
}
