.infrastructure {
  padding-top: 100px;

  &__title {
    max-width: 760px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-bottom: 100px;
    margin-left: auto;
    text-align: center;
    color: $white;
    @include h2;
  }

  &__link {
    padding: 16px 24px;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #fff;
    text-decoration: none;
    background-color: #3671e9;
    border-radius: 50px;

    &:hover {
      background-color: #598EFB;
    }

    &:active {
      color: $grey-3;
      background-color: #1F5BD4;
    }
  }
}
