.login {

  &__in {
    margin-right: 50px;
    color: $white;
    text-decoration: none;
    @include txt-smll-mdm;
  }

  &__up {
    padding: 14px 32px;
    color: $white;
    text-decoration: none;
    background-color: $accent-color;
    border-radius: 50px;
    @include txt-smll-mdm;

    &:hover {
      background-color: #598EFB;
    }

    &:active {
      color: $grey-3;
      background-color: #1F5BD4;
    }
  }
}

.header__right--active {
  .login {
    display: block;
    padding-bottom: 60px;
    text-align: center;
  }
}
