.login {

  &__in {
    margin-right: 50px;
    color: $white;
    text-decoration: none;
    @include txt-smll-mdm;
  }

  &__up {
    padding: 14px 32px;
    color: $white;
    text-decoration: none;
    background-color: $accent-color;
    border-radius: 50px;
    @include txt-smll-mdm;
  }
}

.header__right--active {
  .login {
    display: block;
    text-align: center;
    padding-bottom: 60px;
  }
}
