.nav {
  margin-right: 55px;

  &__list {
    display: flex;
    justify-content: space-between;
    width: 340px;
    margin: 0;
    padding-left: 0;
    list-style: none;
  }

  &__item {


  }

  &__link {
    position: relative;
    color: $white;
    text-decoration: none;
    @include txt-smll-rglr;

    &:hover {
      text-decoration: underline;
    }

    &:active {
      color: $grey-3;
    }
  }
}

.header__right--active {
  .nav__list {
    display: block;
    margin-top: 50px;
    margin-bottom: 50px;
    line-height: 50px;
    text-align: center;
  }
}
