.promo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;

  @media(min-width: 1200px) {
    flex-direction: row;
    justify-content: space-between;
  }

  &__text-block {
    width: 100%;
    margin-top: 80px;
  }

  &__title {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 30px;
    color: $white;
    @include h1;

    @media(min-width: 768px){
      @include h1;
    }
  }

  &__text {
    margin-top: 0;
    margin-bottom: 35px;
    color: $white;
    color: $grey-3;
    @include txt-smll-rglr;
  }

  &__button {
    position: relative;
    width: 202px;
    height: 64px;
    margin-bottom: 50px;
    padding: 18.5px 72px 18.5px 24px;
    color: $white;
    text-decoration: none;
    background-color: $accent-color;
    border: none;
    border-radius: 30px;
    @include txt-stnd-mdm;

    &:hover {
      background-color: #598EFB;
    }

    &:active {
      background-color: #1F5BD4;
    }

    @media(min-width: 1200px) {
      margin-bottom: 140px;
    }

    &::after {
      content: url("../img/icons/icon-arrow-right.svg");
      position: absolute;
      top: 16px;
      right: 24px;
    }
  }

  &__img {
    width: 300px;
    height: 100%;

    @media(min-width: 1200px){
      width: 604px;
      height: auto;
    }
  }
}
