.rate-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 200px;

  margin-right: 50px;
  margin-bottom: 50px;
  margin-left: 50px;
  text-align: center;

  @media (min-width: 1200px){
    flex-direction: row;
    margin-top: 50px;
  }
}
