.revenue {

  &__title {
    margin-top: 0;
    margin-bottom: 0;
    color: $accent-color;
    @include txt-smll-mdm;
  }

  &__result {
    margin-top: 15px;
    margin-bottom: 5px;
    @include h3;

    &--blue {
      color: $accent-color;
    }
  }

  &__description {
    margin-top: 0;
    margin-bottom: 0;
    color: $grey-1;
    @include txt-smll-rglr;
  }
}
