.subscribe {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #3671E9;
  border-radius: 15px;

  &::before {
    content: url("../img/subscribe-before.svg");
    position: absolute;
    top: 0;
    left: 0;
  }

  &::after {
    content: url("../img/subscribe-after.svg");
    position: absolute;
    right: 0;
    bottom: 0;
  }


  &__text-block {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 15px;
    color: $white;
    @include h3;
  }

  &__text {
    max-width: 350px;
    margin-top: 0;
    margin-bottom: 0;
    color: $white;
    @include txt-smll-rglr;
  }

  &-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 570px;
    margin-left: 50px;

    @media(min-width: 1200px){
      flex-wrap: nowrap;
      margin-left: 0;
    }

    &__input {
      width: 100%;
      margin-right: 40px;
      padding-bottom: 7px;
      color: $white;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid $white;
      @include txt-smll-rglr;

      @media(min-width: 1200px){
        width: 375px;
      }

      &:hover {
        border-bottom: 1px solid $grey-3;
      }

      &:active {
        border-bottom: 1px solid $grey-3;
      }

      &:focus {
        border-bottom: 1px solid $grey-3;
      }

      &::placeholder {
        color: $white;
        @include txt-smll-rglr;
      }
    }

    &__button {
      width: 152px;
      margin-top: 40px;
      margin-right: 50px;
      margin-bottom: 50px;
      padding: 14px 32px;
      color: $primary-color;
      background-color: $white;
      border: none;
      border-radius: 35px;
      cursor: pointer;
      @include txt-stnd-mdm;

      @media(min-width: 1200px){
        margin-top: 0;
        margin-bottom: 0;
      }

      &:hover {
        padding: 12px 30px;
        color: $white;
        background-color: $accent-color;
        border: 2px solid $white;
      }

      &:active {
        color: $grey-3;
      }
    }
  }
}
