.why {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;

  @media(min-width: 1200px){
    flex-direction: row;
  }

  &__img {
    width: 300px;
    height: auto;
    margin-top: 50px;

    @media (min-width: 1200px){
      width: auto;
      height: auto;
      margin-top: 0;
    }
  }

  &__text-block {

  }

  &__title {
    margin-top: 0;
    margin-bottom: 25px;
    color: $white;
    @include h2;
  }

  &__text {
    margin-top: 0;
    margin-bottom: 0;
    margin-bottom: 45px;
    color: $grey-3;
    @include txt-smll-rglr;
  }

  &__link {
    padding: 16px 24px;
    color: $white;
    text-decoration: none;
    background-color: $accent-color;
    border-radius: 50px;
    @include txt-stnd-mdm;

    &:hover {
      background-color: #598EFB;
    }

    &:active {
      color: $grey-3;
      background-color: #1F5BD4;
    }
  }
}
